<% if session[:real_user_id] %>
  <div class="flash error">
    <%= l(:pretend_message) %> <%= real_user %>
    <%= link_to l(:button_unpretend), unpretend_path, :class => 'icon', :method => :post %>
  </div>
<% end %>
